* {
  margin: 0;
  padding: 0;
}

.App {
  background-color: white;
  height: 500px;
  width: 700px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2%;
  box-shadow: 10px 5px 5px 0px rgba(0, 0, 0, 0.75),
    -10px -5px 5px 0px rgba(0, 0, 0, 0.75);
}
